@page "/"

<PageTitle>Výpočet izolace - Kalkulačka tepelného odporu</PageTitle>

<div class="container mt-4">
    <div class="text-center">
        <h1 class="display-4">Výpočet izolace</h1>
        <p class="lead">Kalkulačka tepelného odporu pro stavební materiály</p>
    </div>
    
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Výpočet tepelného odporu</h5>
                    <p class="card-text">Spočítejte tepelný odpor a součinitel prostupu tepla pro různé skladby zdi.</p>
                    <a href="/thermal-resistance" class="btn btn-primary">
                        <span class="oi oi-thermometer"></span> Spustit kalkulačku
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Příklady skladeb</h5>
                    <p class="card-text">Prohlédněte si předpřipravené příklady běžných stavebních skladeb.</p>
                    <a href="/examples" class="btn btn-outline-primary">
                        <span class="oi oi-collection"></span> Zobrazit příklady
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5>O aplikaci</h5>
                </div>
                <div class="card-body">
                    <p>Aplikace Výpočet izolace umožňuje výpočet tepelného odporu (R) a součinitele prostupu tepla (U) pro různé skladby stavebních materiálů.</p>
                    <p><strong>Funkce:</strong></p>
                    <ul>
                        <li>Přidávání více vrstev materiálů</li>
                        <li>Automatický výpočet tepelného odporu</li>
                        <li>Hodnocení podle českých norem</li>
                        <li>Předpřipravené příklady běžných skladeb</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
